.product-listing-page{
  display: flex;
}

.product-card {
  padding: 0.5rem 0.5rem;
  margin: 1rem 1rem;
  border: 1px solid black;
  max-width: 15rem;
}

.product-image {
  max-width: 100%;
}

.filters {
  width: 25%;
}

.filter-div {
  margin: 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
}

.product-details {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.product-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
